body{
    justify-items: center;
    align-content: center;
    height: 100vh;
    background-color: #a5a5a5;
}
header {
    text-align: center;
    margin: 0px;
}
main {
    border: #555555 0px;
    border-radius: 10px;
    padding: 20px;
    background-color: #ccc;
}
input[type="text"] {
    width: 300px;
    height: 20px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="date"] {
    padding: 10px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    height: 40px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
section.action-buttons {
    margin-top: 10px;
    text-align: center;
}
select[id="month-filter"] {
    padding: 10px 15px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[id="filter"] {
    background-color: #888888;
}
button[id="delete-all"] {
    background-color: #dc3545;
}
section.todo-list {
    margin-top: 10px;
    text-align: center;
}
li[id="todo-item"] {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px;
    margin-bottom: 2px;
}
p[id="task-list"] {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
}
p[id="task-date"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 5px;
    color: #555;
}
button[id="delete-task"] {
    background-color: #dc3545;
    margin: 5px;
}

p[id="no-lists"] {
        font-family: Arial, Helvetica, sans-serif;
        color: #888888;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 20px;
}